{% load staticfiles %}
<div>
    <p>Shalom {{ full_name }},</p>

    <p>Kami menerima permintaan untuk menyetel ulang password Anda. Berikut password Anda yang baru:</p>

    <ul style="list-style-type:none;">
        <li>Email: {{ email_address }}</li>
        <li>Password: {{ new_password }}</li>
    </ul>

    <small>Email ini dikirim oleh mesin; mohon tidak membalas email ini.</small>
    <p>
        <strong><a href="https://www.alkitab.or.id/" target="_blank">Lembaga Alkitab Indonesia</a></strong>
    </p>
</div>