<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pemverifikasi Akun</title>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
</head>
<body style="font-family: 'Ubuntu', sans-serif;">
    <div style="margin: 10vh 5vw;">
        <dl>
            <dt><strong>Status verifikasi Anda:</strong></dt>
            <dd>{{ status }}</dd>
        </dl>
    </div>
    <footer style="margin: 20vh 5vw 5vh;">
        <p style="text-align: center;">
            <small>&copy; {% now 'Y' %} Lembaga Alkitab Indonesia</small>
        </p>
    </footer>
</body>
</html>