{% load staticfiles %}
<div>
    <p>Selamat datang di Alkitab Digital LAI.</p>

    <p>Mohon segera melakukan verifikasi akun dengan mengakses <strong><a href="https://{{ verify_url }}" target="_blank">tautan ini</a></strong>.</p>

    <p>Pengguna dengan akun yang terverifikasi akan dapat menikmati berbagai fitur lainnya dari Lembaga Alkitab Indonesia.</p>

    <small>Email ini dikirim oleh mesin; mohon tidak membalas email ini.</small>
    <p>
        <strong><a href="https://www.alkitab.or.id/" target="_blank">Lembaga Alkitab Indonesia</a></strong>
    </p>
</div>